<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <style type="text/css">
    .toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }
    </style>
    <title>Market Capitalizations</title>
  </head>
  <body ng-app="cryptomarket" >
    <header>
      <div ng-controller="AppCtrl" ng-cloak>
        <md-content>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <md-button aria-label="Github">
               Github
              </md-button>
              <h2 class="md-title">
                <span>Crypto-Currency Market Capitalizations</span>
              </h2>
              <span flex></span>
             <!--  <md-button class="md-raised" aria-label="Learn More">
                Learn More
              </md-button> -->
              <md-button class="md-fab md-mini" aria-label="Favorite">
                <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
              </md-button>
            </div>
          </md-toolbar>
        </md-content>
      </div>
    </header>
      <div class="row">
        <div ng-controller="MainCtrl" class="col s12">
          <table>
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Market Cap</th>
                  <th>Price</th>
                  <th>% Change (24h)</th>
              </tr>
            </thead>

            <tbody>
            <tr ng-repeat="coin in coins">
              <td>{{coin.name}}</td>
              <td>${{coin.market_cap_usd}}</td>
              <td>${{coin.price_usd}}</td>
              <td ng-if="coin.percent_change_24h >= 0" class="green-text">{{coin.percent_change_24h}}%</td>
              <td ng-if="coin.percent_change_24h < 0" class="red-text">{{coin.percent_change_24h}}%</td>
              <!-- <td ng-if="coin.percent_change_24h = null" class="">0</td> -->
            </tr>
              <!-- <tr>
                <td><a href="https://coinmarketcap.com/currencies/bitcoin/" target="_blank">Bitcoin</a></td>
                <td>Eclair</td>
                <td>$0.87</td>
              </tr>
              <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                <td>$3.76</td>
              </tr>
              <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    <!-- <h1>Hello World!</h1> -->
  </body>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-aria/angular-aria.js"></script>
  <script src="node_modules/angular-animate/angular-animate.js"></script>
  <script src="node_modules/angular-material/angular-material.js"></script>
  <script>
    var app = angular.module( 'cryptomarket', [ 'ngMaterial' ] );
        app.controller('AppCtrl', function($scope) {
        });
        app.controller('MainCtrl', function($scope, $http) {
          $http.get("https://api.coinmarketcap.com/v1/ticker/")
          .then(function (response) {
            $scope.coins = response.data;
          });
        });
  </script>
  <script>
    // You can also require other files to run in this process
    require('./renderer.js')
  </script>
</html>
